## Synthesis
- 
## Source [^1]
- A type of program verification based on formal methods. The available formal verification techniques are theorem proving and model checking.
## Source[^2]
- A means of verifying the correctness of hardware or software system design using formal methods. These formal methods compare the functionality of the design with a set of user-specified characteristics or model, described in a notation with a formal mathematical semantics, to ensure that the system specification has been implemented satisfactorily. See DESIGN AUTOMATION.
## References

[^1]: [[(Home Page) A Dictionary of Computer Science 7th Edition by Oxford Reference]]
[^2]: [[(Home Page) A Dictionary of Electronics and Electrical Engineering 5th Edition by Oxford Reference]]