## Synthesis
- 
## Source [^1]
- A type of program verification based on formal methods. The available formal verification techniques are theorem proving and model checking.
## References

[^1]: [[Home Page - A Dictionary of Computer Science 7th Edition by Oxford Reference]]