## Synthesis
- 
## Source [^1]
- A comparison of the actual cash flows resulting from an investment project with the forecast cash flows. A post-completion audit should identify bad investments made in the past and encourage managers to use more realistic forecasts for future investment projects.
## References

[^1]: [[(Home Page) A Dictionary of Business and Management 6th Edition by Oxford Reference]]