## Synthesis
- 
## Source [^1]
- Any method that will ensure that a program will do exactly what it is supposed to do. See also PROGRAM CORRECTNESS PROOF
## References

[^1]: [[(Home Page) A Dictionary of Computer Science 7th Edition by Oxford Reference]]