## Synthesis
- 
## Source [^1]
- An automatic program verification technique that consists of analyzing a run of the system to determine whether that run is correct (with respect to some specification of the system). In other words, the verification is performed during the actual execution of the system by an automatic analysis tool that monitors the program execution. Run-time verification should be used in conjunction with either model checking or testing.
## References

[^1]: [[(Home Page) A Dictionary of Computer Science 7th Edition by Oxford Reference]]