## Synthesis
- 
## Source [^1]
- Signature verification is a method to determine the authenticity of a person’s identity. This technique uses biometrics to analyze the pen stroke pressure, lifts, speed, and direction of a person's signature. The digital signature is compared to a written signature to verify.
## References

[^1]: [[(Home Page) Glossary by Capterra]]