## Synthesis
- 
## Source [^1]
- Uses text messages to confirm the identity of users, adding an extra layer of authentication to online accounts
## References

[^1]: https://sinch.com/blog/what-is-sms-verification/