## Synthesis
- 
## Source [^1]
- The process of checking the accuracy of transcription of information. It is generally applied to data that has been encoded via a data-preparation machine by an operator reading from a document. The documents are subsequently read by another operator and entered into a machine that compares the input with that prepared by the first operator. Any differences are signaled and a correction or confirmation action is made by the second operator.
- Data may also be verified when it is copied to a storage peripheral from the main store or another storage peripheral. In this case the data is normally coded in a way that allows error detection, and verification only involves checking the written data for consistency: it is not compared with the source data.
## References

[^1]: [[(Home Page) A Dictionary of Computer Science 7th Edition by Oxford Reference]]